@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #6563ff;
}
.container{
    height: 400px;
    width: 400px;
    background: #f8f8f8;
    border-radius: 10px;
    padding: 25px;
}
.cards,
.card,
.view{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards{
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cards .card{
    position: relative;
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    cursor: pointer;
    perspective: 1000px;
}
.cards .card .view{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    backface-visibility: hidden;
    transition: transform 0.8 ease;
    transform-style: preserve-3d;
}
.cards .card .front-view{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(0deg);
    z-index: 2;
}
.cards .card .back-view{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
}
.cards.flipped .front-view{
    transform: rotateY(180deg);
}
.cards.flipped .back-view{
    transform: rotateY(0deg);
}
.card>.front-view span{
    font-size: 40px;
    color: #6562ff; 
}
.card>.back-view img{
    max-width: 45px;
}
.card .view {
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
}

.card.flipped .front-view {
    transform: rotateY(180deg);
}

.card.flipped .back-view {
    transform: rotateY(0deg);
}

.front-view, .back-view {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(0deg);
}

.back-view {
    transform: rotateY(180deg);
}
